<select id="voice-select" class="fixed bottom-0 right-0 m-2 bg-gray-500">
  <option data-lang="en-US" data-name="Moira">Moira</option>
  <option data-lang="en-US" data-name="Alex">Alex</option>
  <option data-lang="en-US" data-name="Fiona">Fiona</option>
  <option data-lang="en-US" data-name="Daniel">Daniel</option>
  <option data-lang="en-US" data-name="Veena">Veena</option>
  <option data-lang="en-US" data-name="Victoria">Victoria</option>
  <option data-lang="en-US" data-name="Fred">Fred</option>
  <option data-lang="en-US" data-name="Samantha">Samantha</option>
</select>
